body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(32, 33, 36);
    font-size: 13px;
}

nav {
    height: 50px;
    color: #000;
}

main {
    height: 351px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "other1 other1 other1"
        "other2 top other3"
        "bottom bottom bottom"
    ;
}

footer {
    background-color: rgb(242, 242, 242);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    color: gray;

}

a {
    text-decoration: none;
    color: inherit;

}


a:hover {
    text-decoration: underline;
}

.navbar {
    padding-left: 25px;
    padding-right: 25px;
}

.nav {
    padding: 10px;

    display: inline-block;
}

.nav-left-top {
    margin-top: 10px;
}

.navbar-right {
    float: right;
}

#dots-icon {
    position: relative;
    height: 25px;
    top: 7px;
}

#sign-in-btn {
    background-color: #4387fd;
    color: white;
    border: #4285f4 solid 1px;
    padding: 8px;
    font-weight: bold;
    border-radius: 3px;
    outline: none;
}

.search-bar-top {

    grid-area: top;
    margin: auto;
}

.search-bar-bottom {
    grid-area: bottom;
    display: flex;
    flex-direction: column;
}

.search-bar-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search-bar-input {
    height: 50%;
    width: 500px;
    margin: auto;
}

.search-bar-btns {
    height: 50%;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}

#search-bar {
    position: relative;
    top: 5px;
    height: 35px;
    width: 500px;
    border-radius: 25px;
    border: rgb(242, 242, 242) 1px solid;
    text-indent: 50px;
    outline: none;

}

#search-bar:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.19), 0 -1px 4px rgba(0, 0, 0, 0.19);
}

.search-bar-btn {

    margin-top: auto;
    margin-bottom: auto;
}

.search-bar-btn-input {
    background-color: rgb(248, 249, 250);
    border: 1px solid rgb(248, 249, 250);
    height: 34px;
    border-radius: 5px;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
}

.search-bar-btn-input:hover {
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19), 0 -1px 2px rgba(0, 0, 0, 0.19);

}

.search-bar-img {
    z-index: 1;
}

.search-bar-glass {
    height: 13px;
    margin-right: 100%;
    position: relative;
    top: 34px;
    left: 18px;
}

.search-bar-mic {
    margin-left: 100%;
    height: 20px;
    position: relative;
    bottom: 24px;
    right: 25px;
}

.footer-flex {
    border: lightgray 1px solid;
    height: 50%;
}